.sideMenu {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4775d1;
  height: 100vh;
}

.icon {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 0.5rem solid #4d94ff;
  margin-bottom: 1rem;
}
